.main {
    background-image: url("../Images/brickwall/brickwall.png");

}

h1, h2, h3, h4, p {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    color: black;
}

#links {
    display: none;
}
#logo{
    position: absolute;
    margin: auto;

}
.nav_logo{
    width: 40px;
    height: 40px;
    display: flex;
    margin: auto;
}

#profile {
    text-align: center;
    text-emphasis: bold;
    display: none;

}

#start-page {
    align-self: center;
    width:100%;
}

#start {
    align-self: auto;
    color: #00d1b2, #fff;
}

button {
    color:#00d1b2;
    margin: 10px;
}

form {
    margin-left: 30%;
    margin-right: 30%;
    background-color:#00d1b2;
}

input {
    width: 40%;
}

#work_out_page {
    margin-left: auto;
    margin-right: auto;
}

.exercise_timer_section {
    font-size: 36; /*xx-large;*/
    font-style: oblique;

}

.total {
    margin-inline-start: 2px;
    margin-inline-end: 2px;
}

/* Dialogue Styles */
.ui-dialog {
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;
    border: 2px solid white;
    background-color: #00d1b2;
}
.ui-dialog .ui-dialog-titlebar {
    padding: .4em 1em;
    position: relative;
}
.ui-dialog .ui-dialog-title {
    display: block;
    margin: .1em 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: 2px;
    top: 50%;
    width: 59px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}

.logo_column {
    min-width: 50px;
    min-height: fit-content;
    
}

@media only screen and (max-width: 760px) {
    #start {
        align-self: auto;
        margin-left: auto;
    }
  }