.main {
    background-image: url("../Images/brickwall/brickwall.png");

}

h1, h2, h3, h4, p {
    text-align: center;
}

h2 {
    text-align: center;
}

#links {
    display: none;
}
#logo{
    position: absolute;
    margin: auto;
    
}
.nav_logo{
    width: 40px;
    height: 40px;
    display: flex;
    margin: auto;
}

#profile {
    text-align: center;
    text-emphasis: bold;
    display: none;

}

#start-page {
    align-self: center;
    width:100%;
}

#start {
    align-self: auto;
    margin-left: 45%;
    color: #00d1b2, #fff;
}

button {
    color:#00d1b2;
}

form {
    margin-left: 30%;
    margin-right: 30%;
    background-color:#00d1b2;
}

input {
    width: 40%;
}

#work_out_page {
    margin-left: auto;
    margin-right: auto;
}

.exercise_timer_section {
    font-size: 36; /*xx-large;*/
    font-style: oblique;
}

.total {
    margin-inline-start: 2px;
    margin-inline-end: 2px;
}

@media only screen and (max-width: 760px) {
    #start {
        align-self: auto;
        margin-left: auto;
    }
  }