h1 {
    display: flex;
    justify-content: center;
    align-self: center;
}

h2 {
    text-align: center;
}

#profile {
    text-align: center;
    text-emphasis: bold;
}

#start-page {
    align-self: center;
    width:100%;
            
}

#start {
    align-self: auto;
    margin-left: 45%;
}

button {
    color:#00d1b2;
}
    
form {
    margin-left: 30%;
    margin-right: 30%;
    background-color:#00d1b2;
}

input {
    width: 40%;
}

@media only screen and (max-width: 760px) {
    #start {
        align-self: auto;
        margin-left: 35%;
    }
  }